<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUI.Properties.Settings.connSQL" connectionString="Data Source=APSERVER02\SQLEXPRESS;Initial Catalog=REY2;Persist Security Info=True;User ID=sa;Password=Rootpass1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>